div.card-whats-new {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 35px 35px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    width: 25%;
    flex: 1;
}
div.card-whats-new .imgPrincipalCard {
    max-height: 350px;
    height: 100%;
    width: 100%;
}

div.card-whats-new .contentCard {
    padding: 0.9375rem 1.25rem 0.3125rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

div.card-whats-new div.contentCard p, div.card-whats-new div.contentCard a{
    font-size: 1rem;
    white-space: pre-wrap;
}

/* formatação especifica para o link do card da primeira pagina, segunda seção */
a.linkCardHomePage {
    font-weight: 550;
}

@media screen and (max-width:660px) {
    div.card-whats-new {
        width: 100% !important;
    }
}