section.common-container {
    margin-bottom: 6rem;
}

section.common-container .image{
    flex: 2;
    max-width: 550px;
    min-width: 290px;
    width: 55%;
    height: 100%;
    max-height: 600px;
}

section.container-EspecialistaEApps .image {
    max-width: 550px;
    margin-right: 5%;
}

section.container-LearnMorePrinces .image {
    margin-left: 5%;
    order: 2;
}

section.common-container div {
    justify-content: center;
    gap: 2.5rem;
    width: 40%;
}

section.common-container div h2 {
    color: #2A71B5;
    font-size: 1.7rem;
}

section.common-container div p {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 950px) {
    section.common-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    section.common-container div {
        width: 90%;
        margin: auto;
        text-align: left;
        align-items: baseline;
    }

    section.common-container div p {
        margin: 1rem auto 2rem auto;
    }

    section.container-LearnMorePrinces .image {
        margin: 3rem 0 2rem 5%;
        width: 95%;
    }
}