.btn, .btnSaibaMaisHome {
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #ffff;
    background: #2A71B5;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.3rem;
}

.btn:hover {
    background: #358ad9;
}

a.medium, .btnSaibaMaisHome {
    width: 40%;
    max-width: 300px;
    min-width: 100px;
}

a.large {
    width: 65%;
    max-width: 500px;
    min-width: 130px;
}

a.small {
    width: 25%;
    max-width: 200px;
    min-width: 80px;
    padding: 0.8rem;
}

@media screen and (max-width: 768px) {
    a.large {
        width: 100%;
    }
    
}