a.btn-login {
    text-decoration: none;
    background: #166ec0;
    padding: 0.8rem 0.6rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    width: 90%;
    gap: 0.5rem;
    max-width: 450px;
    min-width: 200px;
    margin: 1rem auto;
}

a.btn-login:focus {
    outline: 0.25rem solid #0b0b0b;
}

a.btn-login p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: auto;
}

a.btn-login img {
    width: 25px;
}

@media screen and (max-width: 600px){
    a.btn-login p {
        font-size: 1rem;
    }
    
}