.container-suport {
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.container-suport div h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.container-suport div h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.container-suport div{
    justify-content: center;
    flex: 3;
}

.container-suport .imgContainer{
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    flex: 2;
}

@media screen and (max-width: 768px){
    .container-suport {
        justify-content: center;
    }

    section.container-suport div {
        justify-content: center;
        align-items: center;
    }

    .container-suport div h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    section.container-suport {
        flex-direction: column;
    }

    section.container-suport .imgContainer {
        width: 70%;
        margin: 2rem auto 2rem auto;
    }
}