div.cardOurProducts {
    width: 100%;
    min-width: 150px;
    flex: 1;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
}

div.cardOurProducts:nth-child(2){
    margin: 2rem;
}

div.cardOurProducts .image-peaple {
    order: -1;
    max-width: 220px;
    min-width: 180px;
}

.cardOurProducts .info-product p {
    margin: 0.1rem 0 0.8rem 0;
    text-align: center;
}

.cardOurProducts .info-product {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardOurProducts .info-product a.btn {
    width: 100%;
}

@media screen and (max-width: 760px) {
    div.cardOurProducts{
        flex-direction: row !important;
        gap: 1rem;
    }

    div.cardOurProducts div{
        justify-content: center;
        gap: 1rem;
    }

    div.cardOurProducts:nth-child(2){
        margin: 2rem 0;
    }
}

@media screen and (max-width: 400px){
    div.cardOurProducts{
        flex-direction: column !important;
    }

    div.cardOurProducts p {
        text-align: center;
    }
}