div.cardOurEvents {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 2rem ;
    justify-content: space-between;
    flex: 1;
}

div.cardOurEvents:nth-child(3n+2) {
    margin: 0 1.5rem;
}

section div.cardOurEvents a, section div.cardOurEvents p{
    margin: 15px 10px;
}

section div.cardOurEvents a.learning-events-redirect, section div.cardOurEvents p{
    font-size: 1.2rem;
}

section div.cardOurEvents p.paragraphTop{
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.6rem;
    background:#ccc;
    font-weight: 600;
    width: 35%;
    text-align: center;
    border-radius: 0.8rem;
    color: #1a4c7b;
}

section div.cardOurEvents img {
    width: 100%;
}

@media screen and (max-width:700px) {
    div.cardOurEvents {
        width: 95%;
        margin: 0 auto;
    }

    div.cardOurEvents:nth-child(3n+2) {
        margin: 1.5rem auto;
    }

    section div.cardOurEvents p.paragraphTop{
        font-size: 1.2rem;
    }    
}
