div.cardOurEvents {
    width: 100%; 
}

div.cardOurEvents:nth-child(3n+2) {
    margin: 0 20px;
}

section div.cardOurEvents a, section div.cardOurEvents p{
    margin: 15px 10px;
}

section div.cardOurEvents a.learning-events-redirect, section div.cardOurEvents p{
    font-size: 1.2rem;
}

section div.cardOurEvents p.paragraphTop{
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.8rem;
    background:#D9D9D9;
    width: 35%;
    text-align: center;
    border-radius: 0.8rem;
    color: #347ec3;
}

section div.cardOurEvents img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    div.cardOurEvents {
        width: 100%;
        margin: 2rem auto;
    }
    
    div.cardOurEvents:nth-child(3n+2) {
        margin: 0;
    }
}