section.login {
    padding: 2rem ;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    align-items: center;
}

section.login > .imgLogin {
    width: 97%;
    max-width: 450px;
    min-width: 200px;
    margin-left: 2%;
    border-radius: 0.3rem;
    height: 100vh;
    max-height: 250px;
}

section.login > div {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

section > div h1.login-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
}

section > div h1.login-title span {
    color: #0070D2;
    font-weight: 600;
}

section > div p{
    font-size: 1.2rem;
}

@media screen and (max-width: 950px) {
    
    section.login {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.login > div {
        align-items: center;
    }

    section.login > .imgLogin {
        width: 100%;
        max-width: 100%;
        order: -1;
        margin-bottom: 2rem;
    }

    section.login > div h1, section.login > div p {
        text-align: center;
    }

    section.login > div p {
        margin: 1rem auto;
    }

    section.login .imgLogoSalesforce {
        display: none;
    }
}