header {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffff;
    border-bottom: 1px solid #e0e0e0;
}

div.menu-mobile {
    display: none;
}

header a {
    font-size: 1rem;
    font-weight: bold; 
    color: #032D93;
} 

header nav ul a:hover {
    color: #2A71B5;
}

header> a:first-child {
    flex: 7%;
    margin-right: 2%;
}

.icon-menu {
    display: none;
    cursor: pointer;
    width: 3rem;
}

header,
header>nav,
header>nav ul,
header>nav>section {
    display: flex;
    align-items: center;
}

header>nav {
    justify-content: center;
}

header nav {
    flex: 95%;
}

header nav ul {
    flex: 60%;
}

header nav ul li a {
    padding: 0.2rem 0.3rem;
    margin: 0 0.5rem;
}

header>nav a.btn {
    font-size: 1.1rem;
}

header nav section {
    gap: 1.3rem;
    justify-content: end;
}

header nav section .link-login {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

header nav section .link-login:hover {
    text-decoration: underline;
}

header nav section .img-login {
    min-width: 30px;
    max-width: 40px;
    width: 100%;
}

@media screen and (max-width: 1100px) {

    header {
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .icon-menu {
        display: block;
        margin-right: 2%;
    }

    .nav-header, .header-contact {
        display: none;
    }

    header > nav {
        justify-content: end;
        align-items: center;
        margin-left: 2rem;
    }

    header nav section .link-login span{
        display: none;
    }

    /* formatação para icone de menu aberto */

    .icon-fechar-menu {
        cursor: pointer;
        width: 70px;
        height: 70px;
    }
    
    div.menu-mobile {
        padding: 1rem;
        background: #ffffff;
        height: 100vh;
        width: 60%;  
        position: fixed;
        z-index: 2000;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    div.menu-mobile:focus {
        outline: none;
    }

    .adicionar-menu {
        animation: slideIn 0.5s forwards;
    }

    .retirar-menu {
        animation: slideOut 0.5s forwards;
    }
    
    div.menu-mobile ul {
        list-style: none;
        padding: 0;
    }

    div.menu-mobile li {
        margin: 2rem 0;
        font-weight: 600;
    }
    
    div.menu-mobile li a {
        text-decoration: none;
        color: #2A71B5;
        padding: 0.5rem 1rem 0.5rem 0;
        font-size: 1.1rem;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }     
    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
        
    }
}

@media screen and (min-width:1600px) {
    header a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:400px) {
    header nav section a.small {
        font-size: 0.9rem;
        padding: 0.6rem 0.2rem;
    } 

    header nav section {
        gap: 0.8rem;
    }
}
