main.free-trial {
    margin-top: 5rem auto auto auto;
    width: 90%;
}

main.free-trial .info-free-trial {
    width: 40%;
    margin: 3rem auto auto auto;
}

main.free-trial section h1 {
    font-size: 2.7rem;
    margin-bottom: 4rem;
    color: #2a71b5;
    font-weight: 500;
}

main.free-trial section h2, main.free-trial section li {
    color: #000000;
    font-weight: 400;
}

main.free-trial section h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

main.free-trial section li {
    font-size: 1.1rem;
    margin-bottom: 0.9rem;
}

main.free-trial section.info-free-trial .img {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 600px;
    margin-top: 1rem;
}

/* formatação para segunda seção (formulario) */

form a {
    color: #032d93;
}

form label {
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

form input, form select {
    padding: 0.8rem;
    border: 2px solid #7A7979;
    margin-bottom: 0.7rem;
    width: 100%;
}

main section.formContainer {
    padding: 3% 2.5%;
    background: #DEDEDE;
    box-shadow: 7px 5px 5px #CACACA;
    height: 100%;
    border-radius: 0.2rem;
    width: 35%;
    margin: 0 auto;
}

main section.formContainer h2,main section.formContainer h3 {
    font-weight: 540;
    font-size: 1.5rem;
}

main section.formContainer h3{
    margin: 0.2rem 0 1.5rem 0;
    font-size: 1rem;
    font-weight: normal;
}

main section.formContainer form .termos{
    margin: 0.5rem 0;
    align-items: center;
}

main section.formContainer form .termos input{
    margin-right: 0.2rem;
    width: 5%;
}

main section.formContainer form p.paragraphBottom {
    font-size: 0.9rem;
    margin: 1rem 0;
}

main section.formContainer form input.enviarFormulario {
    background: #2A71B5;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

/* formatação para quando o input está correto/incorreto */

input.input-incorreto {
    border: 0.15rem solid #FF0000;
}

input.input-incorreto:focus {
    outline: 0.0001rem solid #FF0000 !important;
}

input.input-correto {
    border: 0.15rem solid #0E9024 ;
}

input.input-correto:focus {
    outline: 0.0001rem solid #0E9024 !important;
}

input:disabled {
    background: #7A7979 !important;
    cursor: not-allowed !important;
}

/* formtação para a div teste grátis */


div.div-retorno-teste {
    padding: 3rem 1rem;
    width: 25%;
    text-align: center;
    position: fixed;
    top: 50vh;
    animation: retorno-teste 1s forwards;
    background: rgba(0, 123, 255,0.8);
    color: #fff;
    text-transform: capitalize;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    left: calc(50% - 12.5%);
    font-weight: 500;
    max-width: 450px;
}

div.div-retorno-teste img.icone-fechar {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    cursor: pointer;
}

div.sucesso {
    border: 3px solid rgb(4, 135, 4);
    width: 30%;
    left: calc(50% - 15%);
}

div.falha {
    border: 3px solid rgb(235, 2, 2);
}

@keyframes retorno-teste {
    0% {
        top: 60vh;
        opacity: 0;
    }

    100% {
        top: 40vh;
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    main.free-trial {
        flex-direction: column;
    }
    
    main.free-trial section.info-free-trial, main.free-trial section.formContainer {
        width: 90%;
    }

    main.free-trial section.formContainer {
        order: -1;
    }

    main.free-trial section.formContainer form {
        padding: 0 1rem;
    }

    main.free-trial .info-free-trial {
        margin: auto;
    }
}


@media screen and (max-width:768px) {
    div.div-retorno-teste {
        width: 90%;
        left: calc(50% - 45%) ;
        max-width: 768px;
    }
}
