.container-trailblazer .imgContainer {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

.container-trailblazer div p {
    font-size: 1.3rem;
}

.container-trailblazer div {
    justify-content: space-evenly;
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .container-trailblazer div {
        margin-bottom: 3rem;
    }

    .container-trailblazer h2, .container-trailblazer div p {
        text-align: center;
    }

    .container-trailblazer div p  {       
        margin: 1rem 0;
    }
    
}