footer img:not(img.logo-salesforce) {
    max-width: 50px;
    min-width: 25px;
}

footer .footer-top img:not(img.logo-salesforce) {
    margin: 20px 0;
}

footer a.logo-salesforce img {
    max-width: 100px;
}

/* formatação do footer-top */

footer div.footer-top div.footer-contact-info p {
    font-size: 1rem;
    font-weight: 500;
    color: #59575C;
}

footer div.footer-top {
    padding: 0 2%;
    margin-bottom: 2rem;
}

footer div.footer-top div.footer-contact-info{
    flex-direction: column;
}

footer div.footer-top div.footer-contact-info div.container-social-links {
    justify-content: space-between;
}

footer div.footer-top > nav.footer-navigation {
    justify-content: space-between;
    margin-left: 7%;
    flex: 1;
}

footer div.footer-top > nav.footer-navigation h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

footer div.footer-top > nav.footer-navigation div {
    margin: 0 2%;
}

footer div.footer-top > nav.footer-navigation div ul li{
    margin: 0.5rem 0;
}

/* formatação do footer-bottom */

footer div.footer-bottom {
    padding: 30px;
    background-color: #032D60;
    font-size: 1.1rem;
}

footer div.footer-bottom div.bottom {
    flex: 6;
}

footer > div.footer-bottom img{
    width: 45px;
}

footer div.footer-bottom a, footer div.footer-bottom div.bottom p{
    color: #fff;
}

footer > div.footer-bottom div.bottom nav{
    margin-bottom: 15px;
}

footer div.footer-bottom div.region-switcher {
    background: #FFFFFF;
    color: #0c0c0c;
    align-items: center;
    padding: 5px 0px 5px 5px;
    max-height: 70px;
    border-radius: 20px;
    margin-right: 4%;
    cursor: pointer;
    flex: 1;
    width: 100%;
    max-width: 200px;
    min-width: 200px;
}

footer div.footer-bottom div.region-switcher p {
    margin-left: 12px;
}

footer div.footer-bottom div.region-switcher p::after {
    content: ' ▲';
}

footer div.footer-bottom div.region-switcher p.active::after {
    content: ' ▼';
}

footer div.footer-bottom .footer-bottom-info a{
    color: #ffff;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 400;
    margin: 0 5px;
}

@media screen and (max-width: 960px){
    div.footer-top {
        display: none;
    }

    footer div.footer-bottom {
        flex-direction: column;
        justify-content: center;
    }

    footer div.footer-bottom div.region-switcher {
        margin: 0 auto 2rem auto;
    }
}