.cardProducts {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    margin-bottom: 2rem !important;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    background: #FAFAFA;
    min-width: 320px;
    width: 30%;
}

.cardProducts .cardImageProduct {
    width: 100%;
    height: 200px;
    max-width: 300px;
    border-radius: 0.5rem;
}

.cardProducts h3 {
    margin: 2rem auto 1rem auto;
    color: #2A71B5;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.cardProducts p {
    font-size: 1rem;
    text-align: center;
}

.cardProducts .buttons {
    width: 100%;
    justify-content: space-between;
}

.cardProducts .buttons .button {
    font-size: 0.9rem;
    width: 50%;
}

@media screen and (max-width: 760px) {
    .cardProducts {
        width: 90%;
        margin: auto;
    }

    .cardProducts .buttons .button {
        padding: 1rem;
        font-size: 1.1rem;
        width: 100%;
    }

    .cardProducts .buttons {
        flex-direction: column;
    }
}