section.containerEventosOnline {
    margin: 7rem auto;
    margin-bottom: 7rem !important;
}

section.containerEventosOnline h2{
    margin-bottom: 5rem;
}

@media screen and (max-width:700px) {
    section.containerEventosOnline div {
        flex-direction: column;
    } 
    
    section.containerEventosOnline h2{
        margin-bottom: 2rem;
    }
}