div.card-client {
    margin-bottom:1.8rem;
    padding-top: 10px;
    max-width: 260px;
    min-width: 140px;
    height: 400px;
    align-items: center;
}

div.card-client:nth-child(2) {
    margin: 0 0.8rem 1.8rem 1.6rem;
}

div.card-client:nth-child(3) {
    margin: 0 1.6rem 1.8rem 0.8rem;
}

div.card-client h3 {
    color: #004D5E;
}

div.card-client img {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
}

@media screen and (max-width: 768px) {
    div.card-client {
        max-width: 650px;
    }
    
}
