div.card-client {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: flex;
    padding: 1rem 1rem 2.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 100%;
    max-height: 500px;
}

div.card-client:nth-child(2) {
    margin: 0 0.8rem 1.8rem 1.6rem;
}

div.card-client:nth-child(3) {
    margin: 0 1.6rem 1.8rem 0.8rem;
}

div.card-client h3 {
    font-size: 1.2rem;
    color: #004D5E;
    text-align: center;
}

div.card-client div {
    margin: 2rem 0;
}

div.card-client div h4 {
    font-size: 1.1rem;
    color: #004D5E;
    text-align: center;
}

div.card-client div p {
    font-size: 0.9rem;
}

div.card-client .imageCardClient {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    height: 100%;
    max-height: 190px;
}

div.card-client a.linkclient {
    font-size: 1.1rem;
}

@media screen and (max-width:940px){
    div.card-client {
        width: 45%;
    }

    div.card-client:nth-child(2) {
        margin: 0 0 1.8rem 5%;
    }
    
    div.card-client:nth-child(3) {
        margin: 0 5% 1.8rem 0;
    }
}

@media screen and (max-width: 500px){
    div.card-client {
        width: 95%;
    }
    
    div.card-client:nth-child(2), div.card-client:nth-child(3) {
        margin: 1.8rem 0;
    }
}