section.container-customer360 {
    margin-bottom: 2rem;
    border: none;
}

section.container-customer360 > div{
    flex: 1;
    justify-content: space-evenly;
}

section.container-customer360 > div h1{
    font-size: 2.5rem;
    color: #0F9EDA;
}

section.container-customer360 > .imgCustomer360 img { 
    width: 95%;
    flex: 2;
    margin-left: 5%;
}
 
section.container-customer360 > div > p {
font-size: 1.3rem;
font-weight: 520;
}

.container-customer360 div > .buttonContainer {
    width: 80%;
}

@media screen and (max-width: 950px) {
    section.container-customer360 > div{
        width: 90%;
        margin: auto;
    }
    section.container-customer360{
        flex-direction: column;
        width: 100%;
    }

    section.container-customer360 > .imgCustomer360 img { 
        width: 100%;
        margin: 2rem 0;
    }
}

